<h4>Oracle Retail Posts</h4>

<br>
<div>
<% @post.each do |post| %>
<div class = 'well span8' >

<p class = 'pull-right'>
    [<%= link_to 'show this post', post_path(1)%>]

</p>
<% post.categories.first %>

<em>Title: <%= post.title %><em><br>
<em>Text : <em>
<%= post.description %><br>
<em>URL  : <em>
<%= post.url %>
</div>

<% end %>

<br>










