<h1>Oracle Retail Posts</h1>

<br>
<div>
<table id="post">
  <thead>
  </thead>

  <tbody>


    <% @post.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        </tr>
      <tr>
        <td><%= post.url %></td>
        </tr>
      <tr>
        <td><%= post.description %></td>
        </tr>
    <tr>
        <td><%= link_to 'edit', edit_post_path(post) %></td>
        </tr>
        

    <% end %>

  </tbody>

</table>

<br>










